= form_for @suggestion do |f|
  %ul.suggestion_form
    %li
      %label
        Your Email
      = f.text_field :email, :class => :text
    %li
      %label
        - if params[:sponsor] == 'science'
          Interested in advertising with science?
        - else
          Have a suggestion for a science experiment?
        
      = f.text_area :message
    %li
      = f.submit params[:sponsor] == 'science' ? 'Advertise with science!' : 'Make Suggestion for Science!', :class => :submit
      |
      = link_to 'Go Back', root_path