!!! Strict
%html{:lang =>"en"}
  %head
    %title JustForScience.com
    %meta{:name => 'description', :content => 'Experiment just for science!'}
    = stylesheet_link_tag 'application'
    
    - if Rails.env.production?
      :plain
        <script type="text/javascript">
          var _gaq = _gaq || [];
          _gaq.push(['_setAccount', 'UA-495329-24']);
          _gaq.push(['_trackPageview']);
          (function() {
            var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
            ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
            var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
          })();
        </script>
  %body
    #container
      = yield
    %p#footer
      = link_to "Random question", random_questions_path
      |
      = link_to "Make a Suggestion for Science", make_suggestion_path
      |
      = link_to "Want to advertise with science?", sponsor_science_path
